<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564335025993-1ec964r84e8vqougjcalhro4fuhm60h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564335025993-1ec964r84e8vqougjcalhro4fuhm60h6</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ap0y-e-Y6GwdKhsDc3voaJJQTl6frV0</string>
	<key>GCM_SENDER_ID</key>
	<string>564335025993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psu</string>
	<key>PROJECT_ID</key>
	<string>training-7e427</string>
	<key>STORAGE_BUCKET</key>
	<string>training-7e427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564335025993:ios:61b47d8494d35edf7a4498</string>
	<key>DATABASE_URL</key>
	<string>https://training-7e427.firebaseio.com</string>
</dict>
</plist>